<?xml version="1.0"?>
<launch>

    <node pkg="yei_tss_usb" type="tss_usb_node" name="tss_usb_node" output="screen">
                <param name="port"                           value="/dev/yei_imu"/>
                <param name="frame_id"                       value="base_link"/>
                <param name="frequency"   	             value="50"/>
                <param name="orientation_covariance"         value="0.000304607"/>  <!-- (0.017453)² -->
                <param name="angular_velocity_covariance"    value="0.001164"/>     <!-- (0.0667 x PI/180)² -->
                <param name="linear_acceleration_covariance" value="0.00002401"/>   <!-- (0.0049)² -->
                
                <remap from="imu/data"    to="yei_imu/data"/>
                <remap from="imu/mag"     to="yei_imu/mag"/>
                <remap from="imu/temp"    to="yei_imu/temperature"/>
                <remap from="diagnostics" to="yei_imu/diagnostics"/>
    </node>


</launch>



